body {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "IvyMode", serif;
  src: url("../fonts/ivymode/fonnts.com-IvyMode_Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "IvyMode", serif;
  src: url("../fonts/ivymode/fonnts.com-IvyMode_Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}



h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
h1,h2 {
  font-family: "IvyMode", serif;
}

p{
  font-family: Neue Haas Grotesk Display Pro;
}

/* navbar */
.logo_img {
  height: 54px;
}
/* Glassmorphism Navbar */
.glass-navbar {
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(10px);
  z-index: 10;
  padding: 8px 0 94px 0;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.9) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}

.glass-navbar .nav-link,
.glass-navbar .navbar-brand img {
  color: #fff;
}
.navbar-light .navbar-toggler-icon,
.navbar-dark .navbar-toggler-icon {
  background-image: none !important;
}

.navbar-toggler {
  display: block !important;
}

.navbar_cont_wrap {
  justify-content: space-between;
  align-items: center;
  display: flex;
  padding: 0;
}

/* Banner Section */
.banner-section {
  position: relative;
  overflow: hidden;
}

.banner-img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  display: block;
}


/* Banner Content */
.banner-content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  color: #fff;
  /* z-index: 99999 !important; */
}

/* Banner Text */
.banner-text {
  position: relative;
  z-index: 9999;
}
.banner-text h1 {
  font-size: 0.5rem;
  color: rgba(220, 229, 234, 1);
  font-family: "IvyMode", serif;
  font-size: 52px;
  font-weight: 300 !important;
  line-height: 71px;
  letter-spacing: 0px;
  text-align: left;
  z-index: 99999 !important;
  position: relative;
  margin: 0 0 36px 0;
}

.banner-text p {
  color: rgba(255, 255, 255, 1);
  font-family: Plus Jakarta Sans;
  font-size: 14px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0px;
  text-align: left;
  z-index: 99999 !important;
  margin: 0 0 66px 47px;
}

.banner-btn {
  z-index: 999;
  margin: 0 79px 68px 0;
}
.banner-text {
  flex: 0 0 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner-btn .btn {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  background-color: rgba(220, 229, 234, 1);
  color: rgba(51, 63, 73, 1);
}

.banner-btn .btn:hover {
  opacity: 0.7;
}

.banner-img,
.top-banner-img,
.swiper-slide {
  will-change: transform;
  backface-visibility: hidden;
}

.logo_circle_wrap {
  position: absolute;
  top: -42%;
  left: 49.5%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}
.banner-overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0),
    rgba(48, 61, 71, 1) 100%
  );
  z-index: 1;
}

.semi_circle_wrap {
  width: 100%;
  height: 768px !important;
  position: relative;
}
.top-banner-img {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  pointer-events: none;
  position: absolute;
  height: -webkit-fill-available;
  width: 100%;
}



.banner-section {
  overflow: hidden;
  position: relative;
}
.home_bannner_next {
  display: none !important;
}
.home_bannner_prev {
  display: none !important;
}
/* second section */
section.promo-section {
  width: 100%;
  text-align: center;
  background: #e4e4e4;
  position: relative;
  height: 100vh;
}

section.promo-section img {
  width: 100%;
  height: auto;
  display: block;
}

.promo-content {
  color: #2c3e50;
  z-index: 2;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.about_sec_cont_wrap {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.promo-content h1 {
  color: rgba(51, 63, 73, 1);
  font-family: "IvyMode", serif;
  font-size: 36px;
  font-weight: 500 !important;
  line-height: 52px;
  letter-spacing: -1.2px;
  text-align: left;
  width: 100%;
  display: flex;
  justify-content: center;
  /* margin: 124px 0 75px 34px; */
}

.para_container {
  width: 100%;
  justify-content: center;
  display: flex;
}

.promo-content p {
  font-family: Neue Haas Grotesk Display Pro;
  font-size: 18px;
  line-height: 1.6;
  color: #555;
  text-align: left;
  margin-left: 62px;
  margin-top: 16px;
  /* margin-bottom: 52px; */
}
.grey_bg {
  height: 96px;
  background-color: #e4e4e4;
}
/* third section */
.slider-section {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.myGsapSwiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  position: relative;
}

.gsap-slide-image {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  transform: scale(1.1);
}

.slide-content {
  position: absolute;
  top: 127px;
  left: 83px;
  color: white;
  z-index: 20;
}

.slide-content h2 {
  font-size: 34px;
  font-weight: 300 !important;
  opacity: 0;
}

.slide-content p {
  font-size: 20px;
  margin-top: 10px;
  opacity: 0;
}

/* navigation */
.gsap-prev,
.gsap-next {
  color: white;
  display: none;
}

.gsap-pagination .swiper-pagination-bullet {
  background: #fff;
  opacity: 0.7;
}

.swiper-pagination {
  display: none;
}

.slide-link {
  display: inline-block;
  padding: 12px 28px;
  background: #172332;
  color: #fff;
  border: 1px solid #707070;
  font-size: 18px;
  font-weight: 600;
  margin-top: 18px;
  text-decoration: none;
  cursor: pointer;
  opacity: 0;
  transform: translateY(20px);
  transition: background 0.3s ease;
}

.slide-link:hover {
  background: #eaeaea;
  color: #000;
  border: 1px solid #fff;
}

/* 4th section */

.text-image-section {
  background: #f8f9fa;
  overflow-x: hidden;
  min-height: 100vh;   /* ✅ allow growth */
}

/* .text-content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative !important;
} */
 .text-content {
  height: 100vh; /* allows section to expand */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.text-title {
  margin-bottom: 20px;
  max-width: 280px;
  color: rgba(51, 63, 73, 1);
  font-family: "IvyMode", serif;
  font-size: 50px;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: -1px;
  text-align: center;
}

.text-description {
  font-size: 18px;
  max-width: 375px;
  text-align: center;
}

.text-image-section {
  background: #f8f9fa;
  overflow-x: hidden;
}

/* TEXT */
/* .text-content {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
} */

.text-title {
  font-size: 50px;
  line-height: 60px;
  text-align: center;
  max-width: 280px;
}

.text-description {
  font-size: 18px;
  text-align: center;
  max-width: 375px;
}



/* SWIPER */
.text-image-swiper {
  height: 100vh;
  overflow: hidden;
}

.text-image-swiper .swiper-wrapper,
.text-image-swiper .swiper-slide {
  height: 100%;
}

.text-image-swiper .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* REMOVE BOOTSTRAP SIDE PUSH */
.text-image-section .row {
  margin-left: 0;
  margin-right: 0;
    min-height: 100vh;
}

.image_cloumn {
  padding: 0;
}



/* Navigation hidden */
.swiper-button-next,
.swiper-button-prev {
  display: none !important;
}

.image_cloumn {
  padding: 0 !important;
}

.col-xl-4,
.col-lg-4,
.col-md-4,
.col-sm-12 {
  overflow: hidden;
}

/* 5th section */

.my-aos-section {
  background: #f8f9fa;
  padding: 110px 0;
}

.section-title {
  color: rgba(53, 66, 76, 1);

  font-family: Neue Haas Grotesk Display Pro;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0px;
  text-align: left;
  border-bottom: 1px solid rgba(53, 66, 76, 1);
}

.section-subtitle {
  max-width: 781px;
  color: rgba(53, 66, 76, 1);

  font-family: "IvyMode", serif;
  font-size: 50px;
  font-weight: 400;
  line-height: 66px;
  letter-spacing: 0px;
  text-align: center;
}

/* 6th section */
.container_wrapper {
  padding: 0 !important;
}


.parallax-gallery {
  position: relative;
  width: 100%;
}

/* Each slide */
.para-item {
  position: relative;
  height: 125vh;
  overflow: hidden;
}
.para-item-even{
    height: 110vh;
}

/* Overlap slides */
.para-item.overlap {
  margin-top: -35vh;
}

/* Z-index stacking */
.slide-1 { z-index: 1; }
.slide-2 { z-index: 2; }
.slide-3 { z-index: 3; }
.slide-4 { z-index: 4; }

/* Sticky image only */
.para-img {
  position: sticky;
  top: 0;

  width: 100%;
  height: 130vh;
  margin-left: -5vw;
  margin-top: -5vh;     

  left: 0;
  top: 0;

  --y: 0%;
  --scale: 1.1;

  transform:
    translate3d(0, var(--y), 0)
    scale(var(--scale));

  object-fit: cover;

  will-change: transform;
  transition: transform 0.25s ease-out;
}


/* Overlay */
.overlay-dark {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  z-index: 3;
  pointer-events: none;
}

/* Titles */
.para-title {
  position: absolute;
  z-index: 9;
  color: #fff;
  font-size: clamp(28px, 6vw, 60px);
  line-height: 70px;
  letter-spacing: 0.03em;
  text-shadow: 0 12px 30px rgba(0, 0, 0, 0.6);
  font-family: "IvyMode", serif;
  font-weight: 400;
}

/* Position helpers */
.para-title.top-left {
  top: 78px;
  left: 117px;
}

.para-title.center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}



.p-0 {
  padding: 0 !important;
}

/* 7th section partners */
.esteem_wrapper {
  padding-left: 24px;
}
.partner-title {
  margin-bottom: 15px;
  color: rgba(51, 63, 73, 1);
  font-family: "IvyMode", serif;
  font-size: 85px;
  font-weight: 300;
  line-height: 100px;
  letter-spacing: -1.7px;
  text-align: left;
}

.partner-subtitle {
  color: rgba(51, 63, 73, 1);
  font-family: Neue Haas Grotesk Display Pro;
  font-size: 20px;
  font-weight: 300;
  line-height: 36px;
  letter-spacing: 0px;
  text-align: left;
}

.swiper-slide7 img {
  object-fit: contain;
  max-height: 80px;
}

/* 8th section */
/* MAIN SECTION WITH RADIAL GRADIENT + BG IMAGE */
.custom-section {
  background-repeat: no-repeat;
  background-position: center center !important;
  background-size: cover !important;
  width: 100%;
  position: relative;
  padding: 138px 0 90px 0;
}

.custom-section::before {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background: radial-gradient(
    38% 62% at 49% 76%,
    rgba(44, 63, 95, 0.9),
    rgba(25, 27, 29, 0.9)
  );
  content: "";
  opacity: 0.8;
  background-size: cover;
  background-position: center center;
}

/* SECTION PADDING */
.p60 {
  padding: 190px 0;
} 

@media (max-width: 1337px) {
  .p60 {
    padding: 120px 0;
  }
}
@media (max-width: 992px) {
  .p60 {
    padding: 80px 0;
  }
}
/* Left and right wrapper spacing */
.content_wrapper {
  margin-left: 36px;
}
.content_wrapper1 {
  margin-right: 80px 36px 0 0;
}
@media (max-width: 1337px) {
  .content_wrapper,
  .content_wrapper1 {
    margin: 0;
  }
}
/* Typography */
.section-title8 {
  font-weight: 700;
  color: rgba(220, 229, 234, 1);
  font-family: Ivy Mode;
  font-size: 31px;
  line-height: 37px;
  text-align: left;
  width: 100%;
}
.section-subtitle8 {
  color: rgba(220, 229, 234, 1);
  font-family: Neue Haas Grotesk Display Pro;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  margin-left: 8px;
}
.logo_text {
  margin-top: 24px;
  color: rgba(220, 229, 234, 1);
}

/* 9th section */
/* SECTION SIZE */
.zoom-section {
  width: 100%;
  height: 100vh; /* adjust as needed */
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  overflow: hidden;
  position: relative;
}

/* WRAPPER CREATES WHITE SPACE */
.zoom-image-wrapper {
  width: 92%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: all 0.6s ease;
}

/* IMAGE INSIDE WRAPPER */
.zoom-image {
  width: 100%;
  height: 100%;
  object-fit: fill;
  transition: transform 0.6s ease;
  transform: scale(1);
}

/* HOVER → FILL ENTIRE SECTION */
.zoom-section:hover .zoom-image-wrapper {
  width: 100%;
  height: 100%;
}

.zoom-section:hover .zoom-image {
  transform: scale(1);
}

/* 10th section */
.custom-footer {
  background: url("../images/Group_157.webp") no-repeat center center/cover;
  padding: 60px 0 0 0;
  color: #fff;
  position: relative;
  display: flex;
  justify-content: center;
}

.custom-footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #333f49;
  opacity: 0.75;
  z-index: 0;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
  z-index: 999;
  position: relative;
  margin: 0 24px;
}

.footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #dce4ea;
  padding: 36px;
}

.footer-logo img {
  max-width: 180px;
}

.first_col_title {
  max-width: 356px;
  color: rgba(220, 229, 234, 1);
  font-family: "IvyMode", serif;
  font-size: 44px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: -0.88px;
  text-align: left;
  margin-bottom: 10px;
}

.first_col_para {
  color: rgba(220, 228, 234, 1);

  font-family: Neue Haas Grotesk Display Pro;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  max-width: 387px;
  margin-bottom: 10px;
}

.footer-four-cols {
  border-bottom: 1px solid #dce4ea;
}

.book_now_link {
  text-decoration: none;
  cursor: pointer;
}

.book_now_link img:hover {
  opacity: 0.5;
}

.footer-four-cols h5,
.footer-two-cols h6 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 12px;
}

.footer-four-cols ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-four-cols ul li a {
  color: #ffffffc9;
  text-decoration: none;
  transition: 0.3s;
  font-family: Neue Haas Grotesk Display Pro;
  font-size: 20px;
  font-weight: 400;
  line-height: 49px;
  letter-spacing: 0px;
}

.footer-four-cols ul li a:hover {
  color: #fff;
  padding-left: 4px;
}

.footer-two-cols p {
  font-size: 15px;
}

.footer-text {
  color: rgba(220, 228, 234, 1);
  font-family: Neue Haas Grotesk Display Pro;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: left;
}

.footer-email {
  border-radius: 6px;
  font-size: 14px;
  padding: 8px 12px;
  background: rgba(220, 228, 234, 1);
  opacity: 1;
}

.form-control:focus {
  box-shadow: none;
  border-color: #fff;
}

.footer-email::placeholder,
.footer-email::-webkit-input-placeholder,
.footer-email::-moz-placeholder,
.footer-email:-ms-input-placeholder,
.footer-email::-ms-input-placeholder {
  color: #dce4ea !important;
  font-family: "Neue Haas Grotesk Display Pro";
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: left;
  opacity: 1;
}

.footer-btn {
  box-sizing: border-box;
  border: 1px solid rgba(220, 228, 234, 0.26);
  background: rgba(51, 63, 73, 1);
  color: rgba(220, 228, 234, 1);

  font-family: Neue Haas Grotesk Display Pro;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: left;
}

.footer-btn:hover {
  background-color: #e3e3e3;
  color: #172332;
}

.footer-small-text {
  max-width: 585px;
  color: rgba(220, 228, 234, 0.64);

  font-family: Neue Haas Grotesk Display Pro;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
}

.footer-social {
  margin-top: 56px;
}
.footer-social .social-icon {
  width: 35px;
  height: 35px;
  font-size: 16px;
  padding: 10px 0;
}

.footer-social a {
  display: inline-block;
  background: rgba(255, 255, 255, 0.15);
  color: #fff;
  line-height: 1;
  margin-right: 4px;
  text-align: center;
  border-radius: 10px;
}

.trs {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.footer-social a.im {
  color: #dce5ea;
}

.footer-social .im:hover {
  color: #fff;
  background: -webkit-linear-gradient(
    bottom left,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
}

.footer-social a.in {
  color: #dce5ea;
}

.footer-social a.in:hover {
  color: #fff;
  background: #0976b4;
}

.footer-social a.yt {
  color: #dce5ea;
}

.footer-social a.yt:hover {
  color: #fff;
  background: #e52d27;
}

.copyWrite {
  color: rgba(220, 228, 234, 1);

  font-family: Mundial;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: left;
}
.copywrite_link {
  text-decoration: none;
  cursor: pointer;
  color: rgba(220, 228, 234, 1);
}

.second_para {
  max-width: 212px;
  color: rgba(220, 228, 234, 1);

  font-family: Mundial;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: left;
  opacity: 0.26;
}

.text_justify {
  text-align: justify;
}

.swiper-backface-hidden .swiper-slide {
  display: flex;
  justify-content: center !important;
}

@media (max-width: 1337px) {
  .p60 {
    padding: 120px 0;
  }
}

@media (max-width: 1244px) {
  .promo-content h1 {
    font-size: 34px;
    line-height: 44px;
  }
  .promo-content p {
    margin-left: 96px;
  }
}

@media (max-width: 1199px) {
  .logo_img_wrap {
    position: absolute;
    left: 50%;
    top: 32%;
    transform: translate(-50%, -50%);
    pointer-events: auto;
  }
  .logo_img {
    width: 198px;
  }
  .logo_circle_wrap {
    top: -64%;
  }
  .banner-text h1 {
    font-size: 38px;
    line-height: 48px;
    margin: 0 0 28px 0;
  }
  .banner-text p {
    font-size: 10px;
  }
  .banner-btn {
    margin: 0 71px 68px 0;
  }
  .banner-btn .btn {
    padding: 0.75rem 0.75rem;
    font-size: 0.75rem;
    background-color: rgba(220, 229, 234, 1);
    color: rgba(51, 63, 73, 1);
  }
  .section-title8 {
    font-size: 28px;
  }
  .section-subtitle8 {
    font-size: 18px;
  }
  .first_col_title {
    font-size: 36px;
  }
  .first_col_para {
    font-size: 14px;
  }
  .partner-title{
    font-size: 68px;
    line-height: 71px;
  }
  .banner-text p {
        margin: 0 0 66px 36px;
  }
}

@media (max-width: 992px) {
  .p60 {
    padding: 80px 0;
  }
  .section-title8 {
    font-size: 24px;
  }
  .section-subtitle8 {
    font-size: 17px;
  }
  .first_col_title {
    font-size: 36px;
  }
  .esteem_row {
    gap: 48px;
  }
}

@media (max-width: 914.99px) {
  .banner-content {
    flex-direction: column;
    align-items: center;
    gap: 18px;
  }
  .banner-text {
    justify-content: flex-end;
  }
  .banner-text h1 {
    margin: 0 0 24px 0;
  }
  .banner-text p {
    margin: 0;
  }
}

@media (max-width: 914px) {
  .banner-text h1 {
    line-height: 54px;
    font-size: 38px;
    margin-bottom: 18px;
  }
  .banner-text p {
    max-width: 300px;
  }
}

/* Respect prefers-reduced-motion */
@media (prefers-reduced-motion: reduce) {
  .para-img {
    transition: none !important;
  }
}

@media (max-width: 768px) {
  .logo_circle_wrap {
    top: -75%;
  }
  .logo_img_wrap {
    top: 30%;
  }
  .logo_img_wrap img {
    width: 156px;
  }
  .banner-text h1 {
    font-size: 36px;
    line-height: 48px;

  }
  .banner-text p {
    max-width: 280px;
    font-size: 12px;
  }
  .banner-btn .btn {
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
  }

  .promo-content h1 {
    font-size: 30px;
    line-height: 42px;
  }

  .promo-content p {
    font-size: 14px;
    margin-left: 0;
  }

  .banner-btn {
    padding: 0 34px 68px 0;
  }

  .top-left-img {
    width: 5%;
  }
  .sevent_sec_row {
    gap: 42px;
  }
  .section-subtitle8 {
    font-size: 16px;
  }

  .first_col_title {
    font-size: 36px;
  }

  .first_col_para {
    font-size: 14px;
  }
   .zoom-section:hover .zoom-image-wrapper {
    width: 100%;
    height: 100%;
  }

  .zoom-image-wrapper {
    width: 100%;
    height: 100%;
    transition: none;
  }

  .zoom-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: none;
    transition: none;
  }

   .text-image-swiper {
    height: 65vh;
  }

  .text-image-section {
    min-height: auto !important;
  }

  .text-content{
    height: auto;
  }

  .text-image-section .row {
    min-height: auto ;
  }

  .text-title{
    margin-top: 32px;
  }

  .about_sec_cont_wrap {
    height: auto;
  }
 
}

@media (max-width: 767.99px) {
  .text-content{
    padding: 28px 0 ;
  }
}

/* small-device safe */
@media (max-width: 700px) {
  .para-title {
    max-width: 85%;
    font-size: clamp(20px, 8vw, 40px);
  }
  .para-img {
    height: 150%;
  }

  
}

@media (max-width: 576px) {
  .logo_circle_wrap {
    width: 100%;
  }
  .logo_circle_wrap img {
    display: none;
    width: 215px;
  }

  .hamburger_menu {
    width: 54px;
  }
  .hamburger_menu img {
    width: 36px;
  }

  .top-banner-img {
    display: none;
  }

  .promo-content h1 {
    margin: 34px 0 0px 0px;
    font-size: 28px;
    line-height: 36px;
  }
  .semi_circle_dark {
    height: 65vh !important;
  }
  .banner-btn {
    padding: 0 18px 68px 0;
  }
  .banner-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }
  .para-item .para-title.center {
    line-height: 54px !important;
    font-size: 42px;
  }

  .para-item .para-title.top-left {
    top: 30px;
    left: 24px;
    line-height: 54px;
    font-size: 36px;
  }
  .elegance {
    line-height: 54px !important;
    top: 58px !important;
    left: 38px !important;
  }
  .esteem_row {
    gap: 16px;
  }
  .section-title8 {
    width: 100%;
    font-size: 26px;
  }
  .section-subtitle8 {
    margin-left: 0;
    font-size: 15px;
  }
  .content_wrapper {
    margin-left: 0;
  }
  .content_wrapper1 {
    margin-right: 0;
  }
  .footer-social {
    justify-content: center;
  }
  .copyWrite {
    text-align: center;
  }
  .second_para {
    width: 100%;
    justify-content: center;
    display: flex;
  }
  .second_para_cont {
    justify-content: center !important;
  }

  .slide-content {
    left: 42px;
  }
  .slide-content h2 {
    font-size: 30px;
  }
  .text-title {
    font-size: 42px;
  }
  .text-description {
    font-size: 16px;
  }
  .section-subtitle {
    font-size: 42px;
  }
  .section-title {
    font-size: 28px;
  }

  .parallax-gallery .para-img {
    min-width: 100%;
    min-height: 130%;
  }

  .partner-title {
    font-size: 66px;
    line-height: 60px;
  }

  .partner-subtitle {
    font-size: 18px;
    line-height: 30px;
  }
  .sevent_sec_row {
    gap: 32px;
  }
  .custom_30_row {
    gap: 1rem;
  }
  .first_col_para {
    font-size: 14px;
  }
  .zoom-section{
    height: auto;
  }

  .para-item {
    height: 105vh !important;
  }
  .para-item-even{
    height: 85vh !important;
  }
    .grey_bg {
    display: none !important;
  }

  section.promo-section {
    height: 75vh !important;
  }

  .promo-content{
    padding-bottom: 42px;
  }
  .text-content{
    height: 50vh !important;
   }

}

@media (max-width: 395px) {
  .logo_img_wrap {
    margin: 0;
  }
  .banner-text h1 {
    font-size: 32px;
  }
  /* .banner-text p {
    max-width: 280px;
  } */
  .promo-content h1 {
    font-size: 24px;
  }
  .promo-content p {
    font-size: 12px;
  }
  .logo_img {
    width: 175px;
  }
  .slide-content {
    left: 16px;
  }
  .slide-content h2 {
    font-size: 24px;
  }
  .section-subtitle8 {
    font-size: 14px;
  }
        .banner-text p  {
    width: 250px;
  }

}
